<div class = "container">
  <div class = "row">
    <div class= "col s12 m9">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", id: "password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class = "field"> 
            <label>
              <%= f.check_box :remember_me, id:"remember_me" %>
              <span>Remember me</span>
            </label>
          </div>
        <% end -%>

        <div class="actions">
          <button class="btn waves-effect waves-light disabled" id="login-submit-button" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function (){
    validate();
    $('#email, #password').keypress(validate);
});

function validate(){
    if ($('#email').val().length   >   0   &&
        $('#password').val().length  >   0 ) {
        $("#login-submit-button").removeClass("disabled");
    }
    else {
        $("#login-submit-button").addClass("disabled");
    }
}
</script>