<div class="sign-in-form">
  <div class = "container">
    <div class = "row">
      <div class= "col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body shadow border-0">
              <div class="container">
                  <div class="row justify-content-center">
                    <i class="fas fa-sign-in-alt fa-2x pr-2"></i>
                    <h5 class="card-title text-center">Sign In</h5>
                  </div>
                </div>
              <div class="form-signin">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-label-group">
                  <%= f.email_field :email, required: true, autocomplete: "email", id: "email", class: "form-control", placeholder: "Email address" %>
                  <label for="email">Email address</label>
                </div>
                <div class="form-label-group">
                  <%= f.password_field :password,required: true, autocomplete: "current-password", id: "password", class: "form-control", placeholder: "Password" %>
                  <label for="password">Password</label>
                </div>
                <!-- <div class="float-right pr-3" style="font-size:0.8rem;">
                  <%= link_to "Forgot Password?", "#", class:"mx-auto text-dark" %>
                </div> -->
                <% if devise_mapping.rememberable? -%>
                  <div class = "field pl-2 mt-1"> 
                    <label>
                      <%= f.check_box :remember_me, id:"remember_me" %>
                      <span>Remember me</span>
                    </label>
                  </div>
                <% end -%>
                <button class="btn btn-lg color-semi-black btn-block text-uppercase mt-2" type="submit">Sign in</button>
                <% end %>
                <div class="container mt-4">
                  <div class="row">
                    <% if  params[:redirect_to].presence %>
                      <%= link_to "New to Asana? Sign up here!", new_user_registration_path(redirect_to: params[:redirect_to]), class:"mx-auto text-dark" %>
                    <% else %>
                      <%= link_to "New to Asana? Sign up here!", new_user_registration_path, class:"mx-auto text-dark" %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
