<div class="d-none d-sm-block">
  <ul class="list-group sidebar-active">
    <li class="list-group-item <%= "#{'active bg-dark' if current=='products'}" %>">
      <%= link_to 'Products', product_list_path, class: 'text-color-dark'%>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='system_orders'}" %>">
      <%= link_to 'System Orders', orders_path, class: 'text-color-dark'%>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='colors'}" %>">
      <%= link_to 'Colors', colors_path, class: 'text-color-dark' %>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='categories'}" %>">
      <%= link_to 'Categories', categories_path, class: 'text-color-dark' %>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='tags'}" %>">
      <%= link_to 'Tags', tags_path, class: 'text-color-dark' %>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='slides'}" %>">
      <%= link_to 'Slides', slides_path, class: 'text-color-dark' %>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='jumbotrons'}" %>">
      <%= link_to 'Jumbotrons', jumbotrons_path, class: 'text-color-dark' %>
    </li>
    <li class="list-group-item <%= "#{'active bg-dark' if current=='cities'}" %>">
      <%= link_to 'Cities', cities_path, class: 'text-color-dark' %>
    </li>
  </ul>
</div>

<div class="d-block d-sm-none mb-4">
  <select onchange="location = this.value;" class="bg-dark text-light w-100">
    <option selected disabled hidden>Admin Pages</option>
    <option value="/admin/products/list">Products</option>
    <option value="/admin/colors">Colors</option>
    <option value="/admin/categories">Categories</option>
    <option value="/admin/tags">Tags</option>
    <option value="/admin/slides">Slides</option>
    <option value="/admin/jumbotrons">Jumbotrons</option>
    <option value="/admin/cities">Cities</option>
  </select>
</div>