<footer class="footer">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>ABOUT US</h5>
                <hr class="light">
                <p><%= link_to 'MISSION & VISION', mission_and_vision_path, class: "footer-btn" %></p>
                <p><%= link_to 'COMPANY OVERVIEW', company_overview_path, class: "footer-btn" %></p>
                <p><%= link_to 'PRIVACY POLICY', core_values_path, class: "footer-btn" %></p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>HELP</h5>
                <hr class="light">
                <!-- <p><a href="#" class="footer-btn">FAQ</a></p> -->
                <p><%= link_to 'EXCHANGE & REFUND', exchange_and_refund_path, class: "footer-btn" %></p>
                <p><%= link_to 'CONTACT US', contact_us_path, class: "footer-btn" %></p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>SHOPPING</h5>
                <hr class="light">
                <p>CAIRO</p>
                <p>ALEXANDRIA</p>
            </div>
            <div class="col-12" style="margin-bottom:1rem;">
                <hr class="light-100">
                <!-- <h6 style="display: inline;">&copy; ASANA |</h6>
                <a href="#" class="footer-btn">Privacy Policy |</a>
                <a href="#" class="footer-btn">Terms And Conditions</a> -->
            </div>
        </div>
    </div>
</footer>