<div class="sticky-top">

  <header id="header-1" class="header">
    <!-- Navbar on large screens -->
    <nav class="header-nav navbar navbar-expand-md bg-dark navbar-dark  d-none d-sm-block">
      <div class="container-fluid">
        <a class="navbar-brand pl-3" href="<%= "/"%>"><%= image_tag 'asana.png', class: "", style: "height: 42px; width: 96px;" %></a>
        <ul class="nav navbar-nav mx-auto w-auto justify-content-center">
          <li class="nav-item">
              <a class="nav-link" href="<%= "/"%>">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">New</a>
          </li>
          <% if Category.any? %>
            <% Category.category.each do |c| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle test" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= c.name %>
              </a>
              <ul class="dropdown-menu bg-dark">
                <a class="dropdown-item text-white" style="text-decoration: underline;" id="nav-all" href="<%= products_path(category_id: c.id) %>">All <%= c.name %></a>
                <% Category.sub_category.where(parent_id: c.id).each do |c| %>
                  <li class="dropdown-item text-white" id="nav-all">
                    <a href="<%= products_path(category_id: c.id) %>">
                      <%= c.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
            <% end %>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
        </ul>
          <ul class="navbar-nav" id="left-nav">
            <% if user_signed_in? %>
              <li class="nav-item"> <%= link_to edit_registration_path(:user), class:"nav-link" do %>
                <i class="fas fa-user fa-2x" data-toggle="tooltip" title="Profile"></i>
                <% end %> 
              </li>
              <li class="nav-item"> <%= link_to destroy_session_path(:user), :method => :delete, class:"nav-link" do %>
                <i class="fas fa-sign-out-alt fa-2x" data-toggle="tooltip" title="Logout"></i>
                <% end %> 
              </li>
            <% else %>
              <li class="nav-item"> <%= link_to new_user_session_path, class:"nav-link" do %>
                <i class="fas fa-sign-in-alt fa-2x" data-toggle="tooltip" title="Login"></i>
                <% end %> 
              </li>
              <li class="nav-item"> <%= link_to new_user_registration_path, class:"nav-link" do %>
                <i class="fas fa-user-plus fa-2x" data-toggle="tooltip" title="Sign Up"></i>
                <% end %> 
              </li>
            <% end %>
            <li class="nav-item pr-4"> <%= link_to "#", class:"nav-link" do %>
              <i class="fas fa-shopping-cart fa-2x" data-toggle="tooltip" title="Cart"></i>
              <% end %> 
            </li>
            <div class="search-button pr-4">
              <a href="#" class="search-toggle" data-selector="#header-1" data-toggle="tooltip" title="Search"></a>
            </div>
        </ul>
        <%= search_form_for @q, url: search_products_path do |f| %>
          <div class="form-row search-box">
            <button class="btn btn-dark search-input" type="submit" name="action" style="width:5%;">
                <i class="fa fa-search"></i>
            </button>
            <div class="h-100" style="width:95%;">
              <%= f.search_field :name_cont,  class: 'text search-input', placeholder: "Search", style: "width:100%;",  autocomplete:"off" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
  </header>


  <!-- Navbar on small screens -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark d-block d-sm-none" id="nav-col">
      <div class="container">
        <button class="navbar-toggler mb-1" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto pr-4" href="<%= "/"%>">
          <%= image_tag 'asana.png', class: "", style: "height: 42px; width: 96px;" %>
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <%= search_form_for @q, url: search_products_path do |f| %>
                <div class="form-row align-items-center">
                  <div class= "col-auto">
                    <%= f.search_field :name_cont,  class: 'form-control', placeholder: "Search", id: "search-col"%>
                  </div>
                  <button class="btn btn-dark" type="submit" name="action">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            <% end %>
          <span class="border-top my-1 d-block d-sm-none"></span>
          <ul class="nav navbar-nav mx-auto w-auto justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="<%= "/"%>">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= products_path %>">All Products</a>
            </li>
            <% if Category.any? %>
              <% Category.category.each do |c| %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= c.name %>
                </a>
                <ul class="dropdown-menu bg-dark"  id="nav-all-col">
                  <a class="dropdown-item text-white" style="text-decoration: underline;" href="<%= products_path(category_id: c.id) %>">All <%= c.name %></a>
                  <% Category.sub_category.where(parent_id: c.id).each do |c| %>
                    <li class="dropdown-item text-white">
                      <a href="<%= products_path(category_id: c.id) %>">
                        <%= c.name %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% end %>
            <% end %>
            <span class="border-top my-1 d-block d-sm-none"></span>
            <li class="nav-item d-block d-sm-none"> <%= link_to "Cart (0)", "#", class:"nav-link" %></li>
            <% if user_signed_in? %>
              <li class="nav-item d-block d-sm-none"> <%= link_to "Edit account", edit_registration_path(:user), class:"nav-link" %> </li>
              <li class="nav-item d-block d-sm-none"> <%= link_to "Log out", destroy_session_path(:user), :method => :delete, class:"nav-link" %></li>
            <% else %>
              <li class="nav-item d-block d-sm-none"> <%= link_to "Log in", new_user_session_path, class:"nav-link" %></li>
              <li class="nav-item d-block d-sm-none"> <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</div>

<script>
    $('.header').on('click', '.search-toggle', function(e) {
      var selector = $(this).data('selector');
    
      $(selector).toggleClass('show').find('.search-input').focus();
      $(this).toggleClass('active');
    
      e.preventDefault();
    });

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });


    (function ($) {
      'use strict';
  
      // :: 1.0 Fullscreen Active Code
      // :: 2.0 Welcome Slider Active Code
      // :: 3.0 Related Product Active Code
      // :: 4.0 Testimonials Slider Active Code
      // :: 5.0 Gallery Menu Style Active Code
      // :: 6.0 Masonary Gallery Active Code
      // :: 7.0 Header Cart btn Active Code
      // :: 8.0 Side Menu Active Code
      // :: 9.0 Magnific-popup Video Active Code
      // :: 10.0 ScrollUp Active Code
      // :: 11.0 Slider Range Price Active Code
      // :: 12.0 PreventDefault a Click
      // :: 13.0 wow Active Code
  
      var $window = $(window);
  
      // :: 1.0 Fullscreen Active Code
      $window.on('resizeEnd', function () {
          $(".full_height").height($window.height());
      });
  
      $window.on('resize', function () {
          if (this.resizeTO) clearTimeout(this.resizeTO);
          this.resizeTO = setTimeout(function () {
              $(this).trigger('resizeEnd');
          }, 300);
      }).trigger("resize");
  
      var welcomeSlide = $('.welcome_slides');
  
      // :: 2.0 Welcome Slider Active Code
      if ($.fn.owlCarousel) {
          welcomeSlide.owlCarousel({
              items: 1,
              margin: 0,
              loop: true,
              nav: false,
              dots: true,
              autoplay: true,
              autoplayTimeout: 7000,
              smartSpeed: 1000
          });
      }
  
      // :: 3.0 Related Product Active Code
      if ($.fn.owlCarousel) {
          $('.you_make_like_slider').owlCarousel({
              items: 3,
              margin: 30,
              loop: true,
              nav: false,
              dots: true,
              autoplay: true,
              autoplayTimeout: 7000,
              smartSpeed: 1000,
              responsive: {
                  0: {
                      items: 1
                  },
                  576: {
                      items: 2
                  },
                  768: {
                      items: 3
                  }
              }
          });
      }
  
      welcomeSlide.on('translate.owl.carousel', function () {
          var slideLayer = $("[data-animation]");
          slideLayer.each(function () {
              var anim_name = $(this).data('animation');
              $(this).removeClass('animated ' + anim_name).css('opacity', '0');
          });
      });
  
      welcomeSlide.on('translated.owl.carousel', function () {
          var slideLayer = welcomeSlide.find('.owl-item.active').find("[data-animation]");
          slideLayer.each(function () {
              var anim_name = $(this).data('animation');
              $(this).addClass('animated ' + anim_name).css('opacity', '1');
          });
      });
  
      $("[data-delay]").each(function () {
          var anim_del = $(this).data('delay');
          $(this).css('animation-delay', anim_del);
      });
  
      $("[data-duration]").each(function () {
          var anim_dur = $(this).data('duration');
          $(this).css('animation-duration', anim_dur);
      });
  
      // :: 4.0 Testimonials Slider Active Code
      if ($.fn.owlCarousel) {
          $(".karl-testimonials-slides").owlCarousel({
              items: 1,
              margin: 0,
              loop: true,
              dots: true,
              autoplay: true,
              smartSpeed: 1200
          });
      }
  
      // :: 5.0 Gallery Menu Style Active Code
      $('.portfolio-menu button.btn').on('click', function () {
          $('.portfolio-menu button.btn').removeClass('active');
          $(this).addClass('active');
      })
  
      // :: 6.0 Masonary Gallery Active Code
      if ($.fn.imagesLoaded) {
          $('.karl-new-arrivals').imagesLoaded(function () {
              // filter items on button click
              $('.portfolio-menu').on('click', 'button', function () {
                  var filterValue = $(this).attr('data-filter');
                  $grid.isotope({
                      filter: filterValue
                  });
              });
              // init Isotope
              var $grid = $('.karl-new-arrivals').isotope({
                  itemSelector: '.single_gallery_item',
                  percentPosition: true,
                  masonry: {
                      columnWidth: '.single_gallery_item'
                  }
              });
          });
      }
  
      // :: 7.0 Header Cart btn Active Code
      $('#header-cart-btn').on('click', function () {
          $('body').toggleClass('cart-data-open');
      })
  
      // :: 8.0 Side Menu Active Code
      $('#sideMenuBtn').on('click', function () {
          $('#wrapper').toggleClass('karl-side-menu-open');
      })
      $('#sideMenuClose').on('click', function () {
          $('#wrapper').removeClass('karl-side-menu-open');
      })
  
      // :: 9.0 Magnific-popup Video Active Code
      if ($.fn.magnificPopup) {
          $('.video_btn').magnificPopup({
              disableOn: 0,
              type: 'iframe',
              mainClass: 'mfp-fade',
              removalDelay: 160,
              preloader: true,
              fixedContentPos: false
          });
          $('.gallery_img').magnificPopup({
              type: 'image',
              gallery: {
                  enabled: true
              }
          });
      }
  
      // :: 10.0 ScrollUp Active Code
      if ($.fn.scrollUp) {
          $.scrollUp({
              scrollSpeed: 1000,
              easingType: 'easeInOutQuart',
              scrollText: '<i class="ti-angle-up" aria-hidden="true"></i>'
          });
      }
  
      // :: 11.0 Slider Range Price Active Code
      $('.slider-range-price').each(function () {
          var min = jQuery(this).data('min');
          var max = jQuery(this).data('max');
          var unit = jQuery(this).data('unit');
          var value_min = jQuery(this).data('value-min');
          var value_max = jQuery(this).data('value-max');
          var label_result = jQuery(this).data('label-result');
          var t = $(this);
          $(this).slider({
              range: true,
              min: min,
              max: max,
              values: [value_min, value_max],
              slide: function (event, ui) {
                  var result = label_result + " " + unit + ui.values[0] + ' - ' + unit + ui.values[1];
                  console.log(t);
                  t.closest('.slider-range').find('.range-price').html(result);
              }
          });
      })
  
      // :: 12.0 PreventDefault a Click
      $("a[href='#']").on('click', function ($) {
          $.preventDefault();
      });
  
  })(jQuery);

</script>