<div class="sticky-top d-none d-sm-none d-md-block">

  <header id="header-1" class="header">
    <!-- Navbar on large screens -->
    <nav class="header-nav navbar navbar-expand-md bg-white navbar-white">
      <div class="container-fluid">
        <a class="navbar-brand pl-3" href="<%= "/"%>"><%= image_tag 'Asana_logo_design_Rv02.svg', class: "", style: "height: 53px; width: 89px;" %></a>
        <ul class="nav navbar-nav mx-auto w-auto justify-content-center">
          <li class="nav-item">
              <a class="nav-link color-black text-muted-hover" href="<%= "/"%>">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link color-black text-muted-hover" href="#">New</a>
          </li>
          <% if Category.any? %>
            <% Category.category.each do |c| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle test color-black text-muted-hover" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= c.name %>
              </a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" style="text-decoration: underline;" id="nav-all" href="<%= products_path(category_id: c.id) %>">All <%= c.name %></a>
                <% Category.sub_category.where(parent_id: c.id).each do |c| %>
                  <li class="dropdown-item" id="nav-all">
                    <a href="<%= products_path(category_id: c.id) %>">
                      <%= c.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
            <% end %>
          <% end %>
          <li class="nav-item">
            <a class="nav-link color-black text-muted-hover" href="#">Sale</a>
          </li>
        </ul>
          <ul class="navbar-nav" id="left-nav">
            <% if policy(Product).create? %>
              <li class="nav-item"> <%= link_to product_list_path, class:"nav-link" do %>
                <i class="fas fa-toolbox fa-2x color-black" data-toggle="tooltip" title="Admin Settings"></i>
                <% end %>
              </li>
            <% end %> 
            <% if user_signed_in? %>
              <li class="nav-item"> <%= link_to edit_registration_path(:user), class:"nav-link" do %>
                <i class="fas fa-user fa-2x color-black" data-toggle="tooltip" title="Profile"></i>
                <% end %> 
              </li>
              <li class="nav-item"> <%= link_to destroy_session_path(:user), :method => :delete, class:"nav-link" do %>
                <i class="fas fa-sign-out-alt fa-2x color-black" data-toggle="tooltip" title="Logout"></i>
                <% end %> 
              </li>
            <% else %>
              <li class="nav-item"> <%= link_to new_user_session_path, class:"nav-link" do %>
                <i class="fas fa-sign-in-alt fa-2x color-black" data-toggle="tooltip" title="Login"></i>
                <% end %> 
              </li>
              <li class="nav-item"> <%= link_to new_user_registration_path, class:"nav-link" do %>
                <i class="fas fa-user-plus fa-2x color-black" data-toggle="tooltip" title="Sign Up"></i>
                <% end %> 
              </li>
            <% end %>
            <li class="nav-item pr-4"> <%= link_to cart_path, class:"nav-link" do %>
              <i class="fas fa-shopping-cart fa-2x color-black" data-toggle="tooltip" title="Cart"></i>
            <% end if current_user%> 
            </li>
            <div class="search-button pr-4">
              <a href="#" class="search-toggle" data-selector="#header-1" data-toggle="tooltip" title="Search"></a>
            </div>
        </ul>
        <%= search_form_for @q, url: search_products_path do |f| %>
          <div class="form-row search-box">
            <button class="btn color-semi-black search-input" type="submit" name="action" style="width:5%;">
                <i class="fa fa-search"></i>
            </button>
            <div class="h-100" style="width:95%;">
              <%= f.search_field :name_cont,  class: 'text search-input', placeholder: "Search", style: "width:100%;",  autocomplete:"off" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
  </header>
</div>

  <!-- Navbar on small screens -->
  <nav class="navbar navbar-expand-md navbar-light bg-white d-none d-block d-sm-block d-md-none" id="nav-col">
    <div class="container">
      <button class="navbar-toggler mb-1" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto pr-5" href="<%= "/"%>">
        <%= image_tag 'Asana_logo_design_Rv02.svg', class: "", style: "height: 50px; width: 117px;" %>
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <%= search_form_for @q, url: search_products_path do |f| %>
            <div class="form-row align-items-center">
              <div class= "col-auto text">
                <%= f.search_field :name_cont,  class: 'form-control', placeholder: "Search", id: "search-col", style: "color: black;" %>
              </div>
              <button class="btn btn-link" type="submit" name="action">
                <i class="fa fa-search" style="color: #868e96;"></i>
              </button>
            </div>
          <% end %>
        <span class="border-top my-1 d-block d-sm-none"></span>
        <ul class="nav navbar-nav mx-auto w-auto justify-content-center" id="nav-bar-col">
          <li class="nav-item">
              <a class="nav-link" href="<%= "/"%>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New</a>
          </li>
          <% if Category.any? %>
            <% Category.category.each do |c| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= c.name %>
              </a>
              <ul class="dropdown-menu"  id="nav-all-col">
                <a class="dropdown-item" style="text-decoration: underline;" href="<%= products_path(category_id: c.id) %>">All <%= c.name %></a>
                <% Category.sub_category.where(parent_id: c.id).each do |c| %>
                  <li class="dropdown-item">
                    <a href="<%= products_path(category_id: c.id) %>">
                      <%= c.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
            <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
          <% end %>
          <span class="border-top my-1"></span>
          <% if policy(Product).create? %>
          <div class="row" id="nav-row">
            <i class="fas fa-toolbox pt-2 pl-3 pr-2 color-black"></i>
            <li class="nav-item"> <%= link_to "Admin Settings", product_list_path, class:"nav-link" %></li>
          </div>
          <% end %>
          <div class="row" id="nav-row">
            <i class="fas fa-shopping-cart pt-2 pl-3 pr-2 mt-1 color-black"></i>
            <li class="nav-item"> <%= link_to "Cart", cart_path, class:"nav-link" %></li>
          </div>
          <% if user_signed_in? %>
            <div class="row" id="nav-row">
              <i class="fas fa-user pt-2 pl-3 pr-2 color-black"></i>
              <li class="nav-item"> <%= link_to "Profile", edit_registration_path(:user), class:"nav-link" %> </li>
            </div>
            <div class="row" id="nav-row">
              <i class="fas fa-sign-out-alt pt-2 pl-3 pr-2 color-black"></i>
              <li class="nav-item"> <%= link_to "Log out", destroy_session_path(:user), :method => :delete, class:"nav-link" %></li>
            </div>
          <% else %>
            <div class="row" id="nav-row">
              <i class="fas fa-sign-in-alt pt-2 pl-3 pr-2 color-black"></i>
              <li class="nav-item"> <%= link_to "Log in", new_user_session_path, class:"nav-link" %></li>
            </div>
            <div class="row" id="nav-row">
              <i class="fas fa-user-plus pt-2 pl-3 pr-2 color-black"></i>
              <li class="nav-item"> <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %></li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<script>
    $('.header').on('click', '.search-toggle', function(e) {
      var selector = $(this).data('selector');
    
      $(selector).toggleClass('show').find('.search-input').focus();
      $(this).toggleClass('active');
    
      e.preventDefault();
    });

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });


    (function ($) {
      'use strict';
 
  
      // :: 4.0 Testimonials Slider Active Code
      if ($.fn.owlCarousel) {
          $(".karl-testimonials-slides").owlCarousel({
              items: 1,
              margin: 0,
              loop: true,
              dots: true,
              autoplay: true,
              smartSpeed: 1200
          });
      }

  
      // :: 12.0 PreventDefault a Click
      $("a[href='#']").on('click', function ($) {
          $.preventDefault();
      });
  
  })(jQuery);

</script>