<!-- Carousel Start -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'home1.png' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'home2.jpg' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- Carousel End -->

<!-- Jumbotron Start -->
<div class="container-fluid">
  <div class="row jumbotron mb-0">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <%= image_tag 'jumbotron.png', :class => "img-fluid" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 jumbotron-div">
      <p>Look for something positive in each day, even if some days have to look a little harder.</p>
      <!-- Small screens only -->
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="d-block d-sm-none w-100">
            <a href="<%= products_path(category_id: 1) %>"><button type="button" class="btn btn-outline-secondary btn-md" style="width:49%;">Shop Men</button></a>
            <a href="<%= products_path(category_id: 4) %>"><button type="button" class="btn btn-outline-secondary btn-md" style="width:49%;">Shop Women</button></a>
          </div>
        </div>
      </div>
      <!-- Medium screens only -->
      <div class="d-none d-md-block d-lg-none"> 
          <a href="<%= products_path(category_id: 1) %>"><button type="button" class="btn btn-outline-secondary btn-sm">Shop Men</button></a>
          <a href="<%= products_path(category_id: 4) %>"><button type="button" class="btn btn-outline-secondary btn-sm">Shop Women</button></a>
      </div>
      <!-- Large screens only -->
      <div class="d-md-none d-lg-block d-none d-sm-block">
          <a href="<%= products_path(category_id: 1) %>"><button type="button" class="btn btn-outline-secondary btn-lg">Shop Men</button></a>
          <a href="<%= products_path(category_id: 4) %>"><button type="button" class="btn btn-outline-secondary btn-lg">Shop Women</button></a>
      </div>
    </div>
  </div>
</div>

<!-- Jumbotron End -->

<!-- New Arrivals Start -->

<!-- Visible on Desktop Computers -->
<div class="d-none d-sm-block mt-4">
    <div class="row mr-4">
        <div class="col-md-4">
          <a href="#"><%= image_tag 'newarrivals.jpg', class: "img-fluid", id:"new-arr-img" %></a>
        </div>
        <div class="col-md-2 mx-auto">
            <div class="card shadow border-0 card-wid">
              <div class="inner">
                <%= image_tag 'shoes.jpg', class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text"><small class="text-muted">100 L.E</small></p>
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow border-0 card-wid">
              <div class="inner">
                <%= image_tag 'shoes.jpg', class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text"><small class="text-muted">100 L.E</small></p>
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow border-0 card-wid">
              <div class="inner">
                <%= image_tag 'shoes.jpg', class: "card-img-top" %>
              </div>
              <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                <p class="card-text"><small class="text-muted">100 L.E</small></p>
              </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card shadow border-0 card-wid">
              <div class="inner">
                <%= image_tag 'shoes.jpg', class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text"><small class="text-muted">100 L.E</small></p>
              </div>
            </div>
        </div>
      </div>
</div>


<!-- Visible on Mobile Phones -->
<div class="d-block d-sm-none">
  <a href="#"><%= image_tag 'newarrivals.jpg', class: "img-fluid" %></a>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-6">
        <div class="row px-1">
          <div class="card border-0">
            <div class="inner">
              <%= image_tag 'shoes.jpg', class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text"><small class="text-muted">100 L.E</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row px-1">
          <div class="card border-0">
            <div class="inner">
              <%= image_tag 'shoes.jpg', class: "card-img-top" %>
            </div>
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p class="card-text"><small class="text-muted">100 L.E</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-6">
          <div class="row px-1">
            <div class="card border-0">
              <div class="inner">
                <%= image_tag 'shoes.jpg', class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text"><small class="text-muted">100 L.E</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row px-1">
            <div class="card border-0">
              <div class="inner">
                <%= image_tag 'shoes.jpg', class: "card-img-top" %>
              </div>
              <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text"><small class="text-muted">100 L.E</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<!-- New Arrivals End -->


<!-- Connect Start -->

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <hr class="my-4">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>

<!-- Connect End -->