<!-- Carousel Start -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'home1.png' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'home2.jpg' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- Carousel End -->

<!-- Jumbotron Start -->
<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <%= image_tag 'jumbotron.png', :class => "img-fluid" %>
    </div>
    <div class="center col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 jumbotron-div">
      <p>Look for something positive in each day, even if some days have to look a little harder.</p>
      <a href="<%= products_path(category_id: 1) %>"><button type="button" class="btn btn-outline-secondary btn-lg">Shop Men</button></a>
      <a href="<%= products_path(category_id: 4) %>"><button type="button" class="btn btn-outline-secondary btn-lg">Shop Women</button></a>
    </div>
  </div>
</div>

<!-- Jumbotron End -->

<!-- Connect Start -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <hr class="my-4">
      <h2>Connect</h2>
    </div>
    <div class="col-12 social">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>

<!-- Connect End -->