<div class="container">
  <div class="row">
    <div class="col-12 ">
        <%= simple_form_for address, url: order_create_address_url(order_id: order)  do |f| %>

        <div class="form-group">
          <%= f.input :address, class: 'form-control'  %>
        </div>
      
        <div class="form-group ">
          <%= f.input :city_id, collection: City.egypt , label: 'City', class: 'form-control', include_blank: false %>
        </div>
      
        <div class="form-group">
          <%= f.input :mobile, label: 'Mobile Number', maxlength: "11", class: 'form-control' %>
          <%= f.hint 'Please enter number without country code' %>
        </div>
      
        <div class="form-group">
          <%= f.input :telephone, label: 'Telephone Number', maxlength: "8", class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label 'Use as default address?', :default_addresses %>
          <%=  f.input_field :default_addresses, as: :boolean, boolean_style: :inline %>
        </div>
      
        <% submit_label = address.new_record? ? "Confirm Address" : "Update Address"%>
      
        <div class="d-flex flex-row-reverse">
          <button class="btn color-semi-black btn-large align-right mb-3 col-12 col-md-3 col-xl-2 " type="submit" name="action"><%= submit_label%>
          </button>
        </div>
        
      <% end %>
    </div>
  </div>
</div>