<div class="container my-4">
  <div class="row">
    <div class="row d-flex align-items-center mb-3 ml-3">
      <h1> Order Details </h1>
    </div>
  </div>
  <% if @error_msg %>
    <ul style="padding-left: 0;">
      <li> 
        <pre class="error_msg_pre"><%= @error_msg %> </pre>
      </li>
    </ul>
  <% end %>
  <div class="row">
    <% if @order.line_items.any?%>
      <div class="col-12">
        <div class="row" id="order_details_div">
          <%= render partial: 'order_details_partial', locals: {order: @order, line_items: @order.line_items}%>
        </div>
        <hr class="w-75">
      </div>
    <% end %>
  </div>

  <div class="row">
    <% if @address%>
      <div class="col-12 mt-30">
        <h1> Delivery Address </h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                  <th>Address</th>
                  <th>City</th>
                  <th>Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @address.address&.truncate(50) %></td>
                    <td><%= @address.city.name %></td>
                    <td><%= @address.mobile %></td>
                  </tr>
                </tbody>
            </table>
          </div> 
      </div>
    <% end %>
  </div>
  <hr>
  <div class="container">
    <div class="row justify-content-end w-100">
      <div class="mt-3 mx-auto pr-5 pr-md-0 mr-md-0">
        <h1> Total Amount</h1>
        <hr>
        <h4 style="color: green;">EGP  <%= @order.current_total_cost%></h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class= "row justify-content-end">
      <%= link_to 'Confirm Order', order_confirm_order_path(@order), method: :post, class: "btn color-semi-black text-dec-none mb-2 col-12 col-md-5 col-lg-4 col-xl-3 mt-3 mb-1" %>
    </div>
  </div>
</div>

<script>
   $(document).ready(function() {
      setTimeout(function(){ 
        $('.error_msg_pre').hide();
        }, 3000);
    });
</script>