<div class="container mb-5 mt-4">
  <div class="row">
    <% if current_user&.admin? %>
      <div class= "col-md-3 mt-4 pt-3">
        <%= render partial: 'shared/admin_sidebar' , locals: {current: 'system_orders'}%>
      </div>
    <% else %>
      <div class= "col-md-4 col-lg-4 col-xl-3">
        <div class="row pl-4">
          <i class="fas fa-user fa-2x"></i>
          <h2 class="ml-2">Profile</h2>
        </div>
        <div class="mt-3 ml-4 pt-1">
          <%= render partial: 'users/registrations/sidebar' , locals: {current: 'orders'}%>
        </div>
      </div>
    <% end %>
    <div class="col-md-7 col-lg-6 col-xl-8">
      <div class="row d-flex align-items-center">
        <% if current_user&.admin? %>
          <h1 class="ml-2 mt-0 mt-md-4 pt-0 pt-md-3"> System Orders </h1>
        <% else %>
          <h1 class="mt-1 mt-md-5 pt-2 ml-5 ml-md-3 mb-4"> Orders </h1>
        <% end %>
      </div>
      <% if current_user&.admin? %>
        <div class="row">
          <div class = "col-12 d-sm-block my-2">
            <%= render 'filter_form'%>
          </div>
        </div>  
      <% end %>

      <% if @orders.present? && @orders.any?%>
        <div class="row">
          <div  class= "center-align">
            <%= will_paginate @orders , renderer: @custom_paginate_renderer %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <% if @orders.present? && @orders.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th> Order Number </th>
                  <th>Status</th>
                  <th>Confirmed at</th>
                  <th>Total Cost</th>
                  <% if current_user.admin? %>
                    <th> User Name </th>
                  <% end %>
                </tr>
              </thead>
              <tbody class="order_details">
                <% @orders.each_with_index do |o,i| %>
                  <tr>
                    <td scope="row"><%= i+1 %></td>
                    <td> <%= link_to "Order-#{o.id}", order_path(o.id) %> </td>
                    <td><%= o.status.humanize %></td>
                    <td><%= o.confirmed_at %></td>
                    <td> <%= o.cart? ? o.current_total_cost : o.total_cost %> </td>
                    <% if current_user.admin? %>
                      <td> <%= o.user.name%> </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <% if current_user&.admin? %>
            <p> System still has no completed orders</p>
          <% else %>
            <p class="pl-5 pl-md-4 mt-3">You have no completed orders, <%= link_to 'Continue Shopping', products_path %> </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>