<div class="container my-4">
  <h1> Delivery Address </h1>
    <div class="row">
      <% if @addresses.any? %>
        <div class="col-12 mb-50 mt-30">
          <h5> Select From Old Addresses </h5>
          <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                  <th></th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  <% @addresses.each_with_index do |a,i| %>
                  <tr>
                      <td>
                        <input type="radio" name="address" class="checked_products" id="<%= "address_#{a.id}" %>" value="<%= "#{a.id}" %>">
                      </td>
                      <td><%= a.address&.truncate(50) %></td>
                      <td><%= a.city.name %></td>
                      <td><%= a.mobile %></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
          </div> 
          <div class="container">
            <div class="row justify-content-end">
              <button type="button" name="save" class="col-12 col-md-3 col-xl-2 btn color-semi-black" id="btn_select_address">Select Address</button>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-12">
        <% if @addresses.any? %>
          <h4> Create a new address</h4>
        <% end %>
        <%= render partial: 'address_form', locals: {address: @address, order: @order} %>
      </div>
    </div>
</div>

<script>
  $('#btn_select_address').click(function(){
    var address_id = $("input[type='radio']:checked").val();
    $.ajax({
      type: "POST",
      url: "<%= j order_assign_address_url(order_id: @order.id) %>",
      data: {address_id: address_id},
      success: function(response, data, status, xhr) {
        
      },
      error: function() {
        alert('error');
      }
    });
  });
</script>