<div class="container mt-4 mb-5">
  <div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <%= render partial: 'shared/tags_breadcrum' ,locals: {active_link: "#{@tag.name} "}%>
    </div>
    <div class="ml-auto p-2 bd-highlight d-none d-sm-block">
      <%= search_form_for @q, url: product_list_path do |f| %>
        <div class="form-row align-items-center">
          <div class= "col-auto">
            <%= f.search_field :name_cont,  class: 'form-control mb-2' %>
            <i class="material-icons search-icon">search</i>
          </div>
          <button id="filter-btn" class="btn btn-success btn-large mb-2" type="submit" name="action">Search</button>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class= "col-md-4 col-lg-3">
      <%= render partial: 'shared/admin_sidebar' , locals: {current: 'tags'}%>
    </div>
    <div class="d-block d-sm-none mx-auto mb-3 mt-1">
      <%= search_form_for @q, url: product_list_path do |f| %>
        <div class="form-row align-items-center">
          <div class= "col-auto">
            <%= f.search_field :name_cont,  class: 'form-control mb-2' %>
            <i class="material-icons search-icon">search</i>
          </div>
          <button id="filter-btn" class="btn btn-success btn-large mb-2" type="submit" name="action">Search</button>
        </div>
      <% end %>
    </div>
    <div class = "col-md-8 col-lg-9 pl-5">
      <div class="row d-flex align-items-center">
        <div>
          <h2><%= "#{@tag.name} Products"%></h2>
        </div>
        
      </div>
      <div  class= "center-align">
        <%= will_paginate @products , renderer: @custom_paginate_renderer %>
      </div>
      
      <div class="row">
        <% if @products.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Product Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each_with_index do |p,i| %>
                  <tr>
                    <td><%= image_tag p.main_photo.url(:thumb) %></td>
                    <td><%= p.name %></td>
                    <td>
                      <input type="checkbox" class="checked_products" id="<%= "product_#{p.id}" %>" value="<%= "#{p.id}" %>">
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="container">
            <div class="row justify-content-end">
              <button type="button" style="background-color:red;" name="save" class="btn" id="btn_checked_products">Remove Products</button>
            </div>
          </div>
        <% else %>
          <div class="col-12">
            <p class="pl-4 mt-2">No Products have been added to this Tag yet, <%= link_to 'Add Products', tag_available_products_path(tag_id: @tag.id) %> </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#btn_checked_products').click(function(){
    var checked_ids = [];
    $.each($("input[type='checkbox']:checked"), function(){            
      checked_ids.push($(this).val());
    });
    if (checked_ids.length > 0){
      $.ajax({
        type: "POST",
        url: "<%= j tag_remove_products_url %>",
        data: {product_ids: checked_ids},
        success: function(response, data, status, xhr) {
          window.location.href = "<%= j tag_assigned_products_path(tag_id: @tag.id) %>";
        },
        error: function() {
          alert('error');
        }
      });
    }
  });

</script>

