<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row d-flex align-items-center justify-content-between">
          <h1> Tags </h1>
          <% if policy(Tag).create? %>
            <%= link_to 'Create a new Tag', new_tag_path, class: "push-m9" %>
          <% end %>
      </div>
      <div class="row">
        <% if @tags.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th> Name </th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="order_details">
                <% @tags.each_with_index do |t,i| %>
                  <tr>
                    <td scope="row"><%= i+1 %></td>
                    <td> <%= t.name %> </td>
                    <td class="text-right"> 
                      <%= link_to 'Edit', edit_tag_path(id: t.id) %> 
                      <%= link_to 'Delete', tag_path(id: t.id), method: :delete, 
                              data: { confirm: 'Are you sure?' }  %>
                    </td>
                    <td class="text-right">
                      <%= link_to 'Add products', tag_available_products_path(tag_id: t.id) %> 
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p>Your have no tags, <%= link_to 'Create a new tag', new_tag_path %> </p>
        <% end %>
      </div>
    </div>
    <div class = "col-3">
    <%= render partial: 'shared/admin_sidebar' , locals: {current: 'tags'}%>
  </div>
  </div>
</div>