<div class="container mt-5">
  <div class="row justify-content-end pr-3">
    <% if policy(Promo).create? && @promos.any?%>
      <h5> <%= link_to 'Create a new Promo', new_promo_path, class: "push-m9" %> </h5> 
    <% end %>
  </div>
</div>
<div class="container mt-3 mb-5">
  <div class="row">
    <div class = "col-md-4 col-lg-3">
      <%= render partial: 'shared/admin_sidebar' , locals: {current: 'promos'}%>
    </div>
    <div class="col-md-8 col-lg-9">
      <div class="col-sm-12 d-flex align-items-center justify-content-between">
        <h1> Promos </h1>
      </div>
      <div class="row">
        <% if @promos.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Promo Code</th>
                  <th>Discount Rate</th>
                  <th>Active</th>
                  <th>Used Times</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="order_details">
                <% @promos.each_with_index do |p,i| %>
                  <tr>
                    <td scope="row"><%= i+1 %></td>
                    <td> <%= p.code %> </td>
                    <td> <%= "#{p.discount_rate} %" %> </td>
                    <td>
                      <%= p.active? ? "Yes" : "No" %>
                    </td>
                    <td> <%= p.used_times %> </td>
                    <td class="text-right"> 
                      <%= link_to 'Edit', edit_promo_path(id: p.id) %> 
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="col-12">
            <p>You have no promos, <%= link_to 'Create a New Promo', new_promo_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>