<%= search_form_for @q do |f| %>
  <input type="hidden" name="q[variants_color_id_in][]" value="">

  <div class="pr_color">
    <h6 class="filter-title mb-4">Color</h6>
    <ul class="color_list mt-3 pl-1">
      <% Color.with_photo.each do |c| %>
        <% if params.dig(:q,:variants_color_id_in) && (params.dig(:q,:variants_color_id_in).include? c.id.to_s)%>
          <input type="checkbox" style="display: none;" checked value="<%= c.id%>" name="q[variants_color_id_in][]" id="<%="q_variants_color_id_in_#{c.id}"%>">
        <% else %>
          <input type="checkbox" style="display: none;" value="<%= c.id%>" name="q[variants_color_id_in][]" id="<%="q_variants_color_id_in_#{c.id}"%>">
        <% end %>
        <% selected = params.dig(:q,:variants_color_id_in) && (params[:q][:variants_color_id_in].include? c.id.to_s)%>
        <label class="checkbox_label pointer" for="<%="q_variants_color_id_in_#{c.id}"%>"><%= image_tag(c.photo.url(:thumb), :class => "color_filter #{'active' if selected}") %></label>
      <% end %>
    </ul>
  </div>

  <input type="hidden" name="q[variants_size_id_in][]" value="">
  <div class="mb-10">
    <h6 class="filter-title mb-3">Filter by Size</h6>
    <div class="widget-desc">
        <ul class="justify-content-between size-filter">
          <% Size.all.each do |s| %>
            <% if params.dig(:q,:variants_size_id_in) && (params.dig(:q,:variants_size_id_in).include? s.id.to_s)%>
              <input type="checkbox" style="display: none;" checked value="<%= s.id%>" name="q[variants_size_id_in][]" id="<%="q_variants_size_id_in_#{s.id}"%>">
            <% else %>
              <input type="checkbox" style="display: none;" value="<%= s.id%>" name="q[variants_size_id_in][]" id="<%="q_variants_size_id_in_#{s.id}"%>">
            <% end %>
            <% selected = params.dig(:q,:variants_size_id_in) && (params[:q][:variants_size_id_in].include? s.id.to_s)%>
            <label class="checkbox_label pointer size <%="#{'active' if selected}"%> " for="<%="q_variants_size_id_in_#{s.id}"%>"><%= s.name%></label>
          <% end %>
        </ul>
    </div>
  </div>

  <% if Tag.with_products.any? %>
    <input type="hidden" name="q[tags_id_in][]" value="">
    <div class="mb-30">
      <h6 class="filter-title mb-3">Tags</h6>
      <div class="widget-desc">
          <ul class="justify-content-between size-filter ml-2">
            <% Tag.with_products.each do |t| %>
              <% if params.dig(:q,:tags_id_in) && (params.dig(:q,:tags_id_in).include? t.id.to_s)%>
                <input type="checkbox" style="display: none;" checked value="<%= t.id%>" name="q[tags_id_in][]" id="<%="q_tags_id_in_#{t.id}"%>">
              <% else %>
                <input type="checkbox" style="display: none;" value="<%= t.id%>" name="q[tags_id_in][]" id="<%="q_tags_id_in_#{t.id}"%>">
              <% end %>
              <% selected = params.dig(:q,:tags_id_in) && (params[:q][:tags_id_in].include? t.id.to_s)%>
              <label class="checkbox_label pointer tag_label <%="#{'active' if selected}"%> " for="<%="q_tags_id_in_#{t.id}"%>"><%= t.name%></label>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>

  <div style="display: none;">
    <%= f.check_box :on_sale, {checked: params[:on_sale] == "true"}, "true", "false" %>
    <%= f.check_box :new_arrival, {checked: params[:new_arrival] == "true"}, "true", "false" %>
  </div>
<% end %>