<div class = "container mt-3">
  <% if product.new_record? %>
    <h1> New Product </h1>
  <% else %>
    <h1> Edit <%= product.name %> </h1>
  <% end %>

  <div class = "row">
    <div class= "col-md-9">
      <%= simple_form_for product, url: (product.new_record? ? products_path : product_path)  do |f| %>

        <div class="form-group">
          <%= f.label 'Product Name', :name %>
          <%= f.input :name, class: 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.input :price, label: 'Product Price', class: 'form-control', input_html: { min: '0', step: 'any' } %>
        </div>

        <!-- <div class="form-group">
        <%= f.label :gender %>
          <div class="form-check form-check-inline">
            <%= f.radio_button :gender, "male", :checked => true, class:"form-check-input" %>  
            <%= f.label "male", :gender, class:"form-check-label" %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.radio_button :gender, "female", :checked => false, class:"form-check-input" %>  
            <%= f.label "female", :gender, class:"form-check-label" %>
          </div>
        </div> -->

        <div class="form-group ">
          <%= f.input :description, label: 'Product Description', as: :text , 
                input_html: { id:"textarea1" , class: 'form-control' } %>
        </div>

        <div class="form-group ">
          <%= f.input :category_ids, collection: Category.category , label: 'Category', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.input :sub_category_ids, collection: Category.sub_category , label: 'Sub Category', class: 'form-control' %>
        </div>
  
        <div class="custom-file">
          <%= f.input :main_photo, as: :file, class: 'custom-file-input' %>
        </div>
        

        <br><br>
        
        <% if product.new_record? %>
          <%= collection_check_boxes(:product, :color_ids, Color.all, :id, :name) %>
        <% end %>

        <div class="d-flex flex-row-reverse">
          <button class="btn btn-primary btn-large align-right mb-3" type="submit" name="action">Add product
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </div>
        
      <% end %>
    </div>
  </div>
</div>