<div class = "container mt-1 mb-5">
  <div class="pl-4">
    <% if product.new_record? %>
      <%= render partial: 'shared/products_breadcrum', locals: {active_link: "New Product"}%>
    <% else %>
      <%= render partial: 'shared/products_breadcrum', locals: {active_link: "#{product.name}"}%>
    <% end %>
  </div>

  <div class = "row">
    <div class= "col-md-3">
      <%= render partial: 'shared/admin_sidebar' , locals: {current: 'products'}%>
    </div>
    <div class= "col-md-9">
      <% if product.new_record? %>
        <h1> New Product </h1>
      <% else %>
        <h1> Edit <%= product.name %> </h1>
      <% end %>
      <%= simple_form_for product, url: (product.new_record? ? products_path : product_path)  do |f| %>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= f.input :name, class: 'form-control'  %>
            </div>
          </div>
        </div>

        <div class="row">
          <% unless product.new_record?%>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <%= f.input :original_price, label: 'Original Price', class: 'form-control', input_html: { min: '0', step: 'any' } %>
              </div>
            </div>
          <% end %>
          <div class="col-12 <%= product.new_record? ? 'col-md-12' : 'col-md-6'%>">
            <div class="form-group">
              <%= f.input :price, label: 'Product Price', class: 'form-control', input_html: { min: '0', step: 'any' } %>
              <%= f.hint "You can update this to add a discount"%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <%= f.input :on_sale, label: 'ON SALE?', class: 'form-control' %>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <%= f.input :new_arrival, label: 'NEW ARRIVAL?', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group ">
              <%= f.input :category_ids, collection: Category.category , label: 'Category', class: 'form-control' %>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <%= f.input :sub_category_ids, collection: Category.sub_category , label: 'Sub Category', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <%= f.input :description, label: 'Product Description', as: :text , 
                input_html: { id:"textarea1" , class: 'form-control' } %>
        </div>

        <div class="form-group ">
          <%= f.input :fabric_details, label: 'Availability', as: :text , 
                input_html: {  class: 'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.input :model_wearing, label: 'Size & Fit', class: 'form-control'  %>
        </div>        
  
        <div class="custom-file mb-4">
          <%= f.input :main_photo, as: :file, class: 'custom-file-input' %>
        </div>
      
        <br><br>
        <% if product.new_record? %>
          <%= collection_check_boxes(:product, :color_ids, Color.all, :id, :name) %>
          <%= f.hint 'You must select at least 1 color' %>
        <% end %>

        <% submit_label = product.new_record? ? "Add Product" : "Update Product"%>

        <div class="d-flex flex-row-reverse">
          <button class="btn color-semi-black btn-large align-right mt-4 mb-3 col-12 col-sm-2 col-md-3" type="submit" name="action"><%= submit_label%></button>
        </div>
      <% end %>
    </div>
  </div>
</div>