<div class = "row">
  
<div class="col s3">
  <%= render 'shared/sidebar'%>
</div>

<div class = "col s9">
  <div class="row">
    <div class = "col s6">
      <% if params[:category_id].blank? %>
        <h1> All Products </h1>
      <% else %>
        <h1> <%= "#{@category.name}'s Products" %> </h1>
      <% end %>
    </div>
    <div class = "col s4 offset-s2">
      <% if policy(Product).create? %>
        <br><br><br>
        <%= link_to 'Add a Product', new_product_path, class: "push-m9" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s8">
      <div class="nav-wrapper">
        <%= search_form_for @q, url: products_path do |f| %>
          <div class= "input-field">
            <%= f.search_field :name_cont%>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          </div>
          <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div  class= "center-align">
    <%= will_paginate @products , renderer: @custom_paginate_renderer %>
  </div>
  <div class="row">
    <% @products.each do |p| %>
      <div class="col s6 m3">
        <div class="card medium">
          <div class="card-image">
            <%= image_tag p.main_photo.url(:medium), class: "responsive-img" %>
          </div>
          <div class="card-content">
            <span class="card-title"> <%= link_to p.name, product_path(p) %> </span>
            <% if policy(p).update? %>
              <div class="right-align">
              <%= link_to product_path(p.id), 
                        class: "waves-effect waves-light btn-floating red darken-3 ",
                        method: :delete, 
                        data: { confirm: 'Are you sure?' } do
                        "<i class='material-icons left'>delete</i>".html_safe
              end %> 
              <%= link_to edit_product_path(p.id), 
                      class: "waves-effect waves-light btn-floating green lighten-1" do  "<i class='material-icons left'>edit</i>".html_safe
              end %> 
              </div>
            <% end %>
          </div>
          <div class="card-action">
            <%= p.description %>
            <%= "EGP #{p.price}" %>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>

</div>