<div class="d-none d-block d-sm-block d-md-none">
  <div class="container">
    <div class="row">
      <button type="button" class="btn color-semi-black mx-auto mb-2 w-100" data-toggle="collapse" data-target="#filter-panel">Filters
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="filter-panel" class="collapse filter-panel pl-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mt-3">
              <h6 class="filter-title mb-3">Sort By</h6>
              <%= render 'sort_partial'%>
            </div>
            <%= render 'filter_form'%>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>

<div class="container mb-4 mb-md-5 mt-2">
  <div class="row">
    <div class="col-md-12 text-center pt-3">
        <% if params[:category_id].present? %>
          <h1> <%= "#{@category.name}" %> </h1>
        <% elsif params[:on_sale].present? && params[:on_sale] == "true"%>
          <h1> Sale </h1>
        <% elsif params[:new_arrival].present? && params[:new_arrival] == "true"%>
          <h1> New Arrivals </h1>
        <% elsif params.dig(:q, :name_cont).present?%>
          <h1> <%= "Search Results For '#{params.dig(:q, :name_cont)}' "%> </h1>
        <% else %>
          <h1> All Products </h1>
        <% end %>
    </div>
  </div>
</div>

<!-- Mobile Phones Start-->

<div class="d-none d-block d-sm-block d-md-none">
  <div class="container-fluid mt-4">
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-6" data-aos="fade-up">
          <div class="row px-1 pt-2 pb-1">
            <div class="card border-0">
              <div style="height:100%; width: 100%;">
                <%= link_to image_tag(p.medium_photo, class: "card-img-top img-fluid", style: 'height: 280px;object-fit: fill;'), product_path(p) %>
                <% if p.new_arrival? %>
                  <span class="badge color-semi-black top-right" style="padding-top: 2.5px; font-size: 0.7rem;">NEW</span>
                <% end %>
              </div>
              <div class="card-body pl-1">
                <h5 class="card-title card-clip"><%= link_to p.name, product_path(p), class:"text-semi-black", style: "font-size: 1.2rem;" %></h5>
                <div class="d-flex justify-content-start">
                  <% if p.on_sale? %>
                    <p class="card-text pr-1"><small><strike><%= "EGP #{p.original_price.to_i}" %></strike></small></p>
                    <p class="card-text ml-1"><small class="red"><%= "EGP #{p.price.to_i}" %></small></p>
                  <% else %>
                    <p class="card-text pr-1"><small><%= "EGP #{p.price.to_i}" %></small></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>      
</div>
<!-- Mobile Phones End -->


<!-- Desktop Computers Start -->

<div class="d-none d-sm-none d-md-block">
  <div class="container-fluid padding">
    <div class="row padding justify-content-left">
      <div class="col-md-3 col-lg-2" style="z-index: 0;">
        <div class="sticky-top">
          <div class="form-group mt-3">
            <h6 class="filter-title mb-3">Sort By</h6>
            <%= render 'sort_partial'%>
          </div>
          <%= render 'filter_form'%>
        </div>
      </div>
      <div class="col-md-9 col-lg-10">
        <div class="card-deck pl-2">
          <% @products.each do |p| %>
            <div class="col-md-4 col-lg-3 mb-5">
              <div class="row">
                <div class="card border-0 ml-0">
                  <div style="height:100%; width: 100%;">
                    <div class="container">
                      <div class="row">
                        <%= link_to image_tag(p.medium_photo, class: "card-img-top img-fluid rounded img-height"), product_path(p) %>
                        <% if p.new_arrival? %>
                          <span class="badge color-semi-black top-right badge-font">NEW</span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pl-1">
                    <h5 class="card-title card-clip"><%= link_to p.name, product_path(p), class:"text-semi-black title-font" %></h5>
                    <div class="d-flex justify-content-start">
                      <% if p.on_sale? %>
                        <p class="card-text price-font"><strike><%= "EGP #{p.original_price.to_i}" %></strike></p>
                        <p class="card-text ml-2 red price-font"><%= "EGP #{p.price.to_i}" %></p>
                      <% else %>
                        <p class="card-text price-font"><%= "EGP #{p.price.to_i}" %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Desktop Computers End -->

<div  class= "center-align mt-5">
  <%= will_paginate @products , renderer: @custom_paginate_renderer %>
</div>


<script type="text/javascript">
  $('.sort_select').change(function(){
    if (this.value == "Latest") {
      window.location.href = $("<%= j sort_link @q, :created_at , default_order: :desc%>").attr('href'); 
    } else if (this.value == "Price Low to High") {
      window.location.href = $("<%= j sort_link @q, :price , default_order: :asc%>").attr('href'); 
    } else {
      window.location.href = $("<%= j sort_link @q, :price , default_order: :desc%>").attr('href'); 
    }
  });

  $('.checkbox_label').click(function(){
    new_check_id = $(this).attr('for');
    $('#'+new_check_id).click(); 
    $('#'+new_check_id).closest('form').submit();
  });

  $('.radio_checkbox_label').click(function(){
    new_check_id = $(this).attr('for');
    radio_btn = $('#'+new_check_id);
    if (radio_btn.prop("checked")===true){
      radio_btn.prop("checked",false);
    } else {
      radio_btn.prop("checked",true);
    }
    radio_btn.closest('form').submit();
  });
  
</script>