<h1> Products </h1>
<% if policy(Product).create? %>
  <%= link_to 'Add a Product', new_product_path, class: "push-m9" %>
<% end %>

<div  class= "center-align">
  <%= will_paginate @products , renderer: @custom_paginate_renderer %>
</div>
<div class="row">
  <% @products.each do |p| %>
    <div class="col s6 m3">
      <div class="card medium">
        <div class="card-image">
          <%= image_tag p.main_photo.url(:medium), class: "responsive-img" %>
        </div>
        <div class="card-content">
          <span class="card-title"> <%= link_to p.name, product_path(p) %> </span>
          <p> <%= p.gender %> </p>
          <% if policy(p).update? %>

            <div class="right-align">
            <%= link_to product_path(p.id), 
                      class: "waves-effect waves-light btn-floating red darken-3 ",
                      method: :delete, 
                      data: { confirm: 'Are you sure?' } do
                      "<i class='material-icons left'>delete</i>".html_safe
            end %> 
            <%= link_to edit_product_path(p.id), 
                    class: "waves-effect waves-light btn-floating green lighten-1" do  "<i class='material-icons left'>edit</i>".html_safe
            end %> 
            </div>
          <% end %>


        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>  
  <% end %>
</div>