
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 text-md-center pt-3">
            <% if params[:category_id].blank? %>
              <h1> All Products </h1>
            <% else %>
              <h1> <%= "#{@category.name}" %> </h1>
            <% end %>
        </div>
    </div>
    <hr class="mb-3">
</div> -->
<div class="container mb-5">
  <div class="row">
    <div class="col-md-12 text-md-center pt-3">
        <% if params[:category_id].blank? %>
          <h1> All Products </h1>
        <% else %>
          <h1> <%= "#{@category.name}" %> </h1>
        <% end %>
    </div>
    <div class="col-md-12 text-md-right">
        <% if policy(Product).create? %>
          <%= link_to 'Add a Product', new_product_path, class: "push-m9" %>
        <% end %>
    </div>
  </div>
</div>

<!-- Mobile Phones Start-->

<div class="d-none d-block d-sm-block d-md-none">
  <div class="container">
    <div class="row">
      <button type="button" class="btn btn-dark mx-auto mb-2 w-100" data-toggle="collapse" data-target="#filter-panel">Filters
      </button>
    </div>
  </div>
    
  <div class="container-fluid">
    <div class="row">
      <div id="filter-panel" class="collapse filter-panel pl-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mt-3">
                <h6 class="filter-title mb-3">Sort By</h6>
                <select class="form-control bg-light" id="sort-by">
                  <option>Featured</option>
                  <option>New Arrivals</option>
                  <option>Low Price</option>
                  <option>High Price</option>
                </select>
              </div>
              <!-- <hr class="mt-2"> -->
              <div class="pr_color">
                <h6 class="filter-title mb-4">Color</h6>
                <ul class="color_list mt-3 pl-1">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
              <div class="widget size mb-50">
                <h6 class="filter-title mb-3">Filter by Size</h6>
                <div class="widget-desc">
                  <ul class="d-flex justify-content-between size-filter">
                    <li><a href="#">XS</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                    <li><a href="#">XXL</a></li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
    
  <div class="container-fluid mt-4">
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-6">
          <div class="row px-1">
            <div class="card border-0">
              <%= image_tag p.main_photo.url(:medium), class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= link_to p.name, product_path(p) %></h5>
                <p class="card-text"><%= p.description %></p>
                <p class="card-text"><small class="text-muted"><%= "EGP #{p.price}" %></small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row px-1">
            <div class="card border-0">
              <%= image_tag p.main_photo.url(:medium), class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= link_to p.name, product_path(p) %></h5>
                <p class="card-text"><%= p.description %></p>
                <p class="card-text"><small class="text-muted"><%= "EGP #{p.price}" %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>      
</div>
<!-- Mobile Phones End -->


<!-- Desktop Computers Start -->

<div class="d-none d-sm-none d-md-block">
  <div class="container-fluid padding">
    <div class="row padding justify-content-left">
      <div class="col-md-3 col-lg-2">
        <div class="form-group mt-3">
          <h6 class="filter-title mb-3">Sort By</h6>
          <select class="form-control bg-light" id="sort-by">
            <option>Featured</option>
            <option>New Arrivals</option>
            <option>Low Price</option>
            <option>High Price</option>
          </select>
        </div>
        <!-- <hr class="mt-2"> -->
        <div class="pr_color">
          <h6 class="filter-title mb-4">Color</h6>
          <ul class="color_list mt-3 pl-1">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="widget size mb-50">
          <h6 class="filter-title mb-3">Filter by Size</h6>
          <div class="widget-desc">
              <ul class="justify-content-between size-filter">
                <li><a href="#">XS</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">L</a></li>
                <li class="mt-1"><a href="#">XL</a></li>
                <li><a href="#">XXL</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9  col-lg-10">
        <div class="card-deck pl-2">
          <% @products.each do |p| %>
            <div class="col-xs-6 col-sm-4">
              <div class="row">
                <div class="card border-0 ml-0">
                  <%= image_tag p.main_photo.url(:medium), class: "card-img-top", style: 'width:100%;'%>
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to p.name, product_path(p) %></h5>
                    <p class="card-text"><%= p.description %></p>
                    <p class="card-text"><small class="text-muted"><%= "EGP #{p.price}" %></small></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Desktop Computers End -->

<div  class= "center-align mt-5">
  <%= will_paginate @products , renderer: @custom_paginate_renderer %>
</div>


