<div class="container mb-5">
  <div class="row">
    <div class="col-md-12 text-md-center pt-3">
        <% if params[:category_id].blank? %>
          <h1> All Products </h1>
        <% else %>
          <h1> <%= "#{@category.name}" %> </h1>
        <% end %>
    </div>
    <div class="col-md-12 text-md-right">
        <% if policy(Product).create? %>
          <%= link_to 'Add a Product', new_product_path, class: "push-m9" %>
        <% end %>
    </div>
  </div>
</div>

<!-- Mobile Phones Start-->

<div class="d-none d-block d-sm-block d-md-none">
  <div class="container">
    <div class="row">
      <button type="button" class="btn btn-dark mx-auto mb-2 w-100" data-toggle="collapse" data-target="#filter-panel">Filters
      </button>
    </div>
  </div>
    
  <div class="container-fluid">
    <div class="row">
      <div id="filter-panel" class="collapse filter-panel pl-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mt-3">
              <h6 class="filter-title mb-3">Sort By</h6>
              <select class="sort_select form-control bg-light" id="sort-by">
                <option>Featured</option>
                <option>New Arrivals</option>
                <option>Low Price</option>
                <option>High Price</option>
              </select>
            </div>
              <!-- <hr class="mt-2"> -->
              <div class="pr_color">
                <h6 class="filter-title mb-4">Color</h6>
                <ul class="color_list mt-3 pl-1">
                  <% Color.with_photo.each do |c| %>
                    <li> <%= link_to image_tag(c.photo.url(:thumb), :class => "color_filter"), products_path(request.query_parameters.merge(q: {variants_color_id_in: c.id})) %> </li>
                  <% end %>
                </ul>
              </div>
              <div class="widget size mb-50">
                <h6 class="filter-title mb-3">Filter by Size</h6>
                <div class="widget-desc">
                  <ul class="d-flex justify-content-between size-filter">
                    <% Size.all.each do |s|%>
                      <li> <%= link_to s.name, products_path(request.query_parameters.merge(q: {variants_size_id_in: s.id})) %> </li>
                    <% end %>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
    
  <div class="container-fluid mt-4">
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-6">
          <div class="row px-1">
            <div class="card border-0">
              <%= image_tag p.main_photo.url(:medium), class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= link_to p.name, product_path(p) %></h5>
                <p class="card-text"><%= p.description %></p>
                <p class="card-text"><small class="text-muted"><%= "EGP #{p.price}" %></small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row px-1">
            <div class="card border-0">
              <%= image_tag p.main_photo.url(:medium), class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= link_to p.name, product_path(p) %></h5>
                <p class="card-text"><%= p.description %></p>
                <p class="card-text"><small class="text-muted"><%= "EGP #{p.price}" %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>      
</div>
<!-- Mobile Phones End -->


<!-- Desktop Computers Start -->

<div class="d-none d-sm-none d-md-block">
  <div class="container-fluid padding">
    <div class="row padding justify-content-left">
      <div class="col-md-3 col-lg-2">
        <div class="form-group mt-3">
          <h6 class="filter-title mb-3">Sort By</h6>
          <select class="sort_select form-control bg-light" id="sort-by">
            <option>Featured</option>
            <option>New Arrivals</option>
            <option>Low Price</option>
            <option>High Price</option>
          </select>
        </div>
        <%= render 'filter_form'%>
      </div>
      <div class="col-md-9  col-lg-10">
        <div class="card-deck pl-2">
          <% @products.each do |p| %>
            <div class="col-xs-6 col-sm-4">
              <div class="row">
                <div class="card border-0 ml-0">
                  <%= image_tag p.main_photo.url(:medium), class: "card-img-top", style: 'width:100%;'%>
                  <div class="card-body">
                    <h5 class="card-title"><%= link_to p.name, product_path(p) %></h5>
                    <p class="card-text"><%= p.description %></p>
                    <p class="card-text"><small class="text-muted"><%= "EGP #{p.price}" %></small></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Desktop Computers End -->
<div  class= "center-align mt-5">
  <%= will_paginate @products , renderer: @custom_paginate_renderer %>
</div>


<script type="text/javascript">
  $('.sort_select').change(function(){
    if (this.value == "Featured") {
      window.location.href = "<%= j products_path(request.query_parameters) %>";
    } else if (this.value == "New Arrivals") {
      window.location.href = $("<%= j sort_link @q, :created_at , default_order: :desc%>").attr('href'); 
    } else if (this.value == "Low Price") {
      window.location.href = $("<%= j sort_link @q, :price , default_order: :asc%>").attr('href'); 
    } else {
      window.location.href = $("<%= j sort_link @q, :price , default_order: :desc%>").attr('href'); 
    }
  });

  $('.checkbox_label').click(function(){
    new_check_id = $(this).attr('for');
    $('#'+new_check_id).click(); 
    $('#'+new_check_id).closest('form').submit();
  });
  
</script>