<div class="container mt-4">
  <div class="row justify-content-end">
    <% if policy(Product).create? %>
    <h5><%= link_to 'Add a Product', new_product_path, class: "push-m9 text-dark" %></h5>
    <% end %>
  </div>
</div>
<div class="container mt-2 mb-5">
  <div class = "row">
    <div class= "col-md-3">
      <%= render partial: 'shared/admin_sidebar' , locals: {current: 'products'}%>
    </div>
    <div class = "col-md-9">
      <div class="row">
        <div class="d-block d-sm-none mx-auto mb-3 mt-1">
          <%= search_form_for @q, url: product_list_path do |f| %>
            <div class="form-row align-items-center">
              <div class= "col-auto">
                <%= f.search_field :name_cont,  class: 'form-control mb-2' %>
              </div>
              <button class="btn btn-success btn-large mb-2" type="submit" name="action">Search
              </button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 d-flex align-items-center justify-content-between">
        <% if params[:category_id].blank? %>
          <h1 class="d-md-none d-lg-block entry-title"> All Products </h1>
          <h3 class="d-none d-md-block d-lg-none"> All Products </h3>
        <% else %>
          <h1> <%= "#{@category.name}'s Products" %> </h1>
        <% end %>
        <div class = "offset-xl-4 d-none d-sm-block">
          <%= search_form_for @q, url: product_list_path do |f| %>
            <div class="form-row align-items-center">
              <div class= "col-auto">
                <%= f.search_field :name_cont,  class: 'form-control mb-2' %>
              </div>
              <button class="btn btn-success btn-large mb-2" type="submit" name="action">Search
              </button>
            </div>
          <% end %>
        </div>
        <div></div>
      </div>
      <div  class= "center-align">
        <%= will_paginate @products , renderer: @custom_paginate_renderer %>
      </div>
      
      <div class="row">
        <% if @products.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Main Image</th>
                  <th scope="col">Product Name</th>
                  <th>Price</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each_with_index do |p,i| %>
                  <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= image_tag p.main_photo.url(:thumb) %></td>
                    <td><%= p.name %></td>
                    <td><%= "EGP #{p.price}" %></td>
                    <td>
                      <%= link_to 'Edit product', edit_product_path(p.id) %>
                    </td>
                    <td>
                      <%= link_to 'Stocks', product_variants_path(p.id) %>
                    </td>
                    <td>
                      <%= link_to 'Images', product_images_path(p.id) %>
                    </td>
                    <td>
                      <% if p.published?%>
                        <%= link_to 'Hide', product_publish_path(product_id: p.id), class: 'red', method: :post %>
                      <% else %>
                        <%= link_to 'Publish', product_publish_path(product_id: p.id), class: 'green', method: :post %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
