<div class="container mt-4">
  <div class="row justify-content-end">
    <% if policy(Product).create? %>
    <h5><%= link_to 'Add a Product', new_product_path, class: "push-m9" %></h5>
    <% end %>
  </div>
</div>
<div class="container mt-2 mb-5">
  <div class = "row">
    <div class= "col-md-3">
      <%= render partial: 'shared/admin_sidebar' , locals: {current: 'products'}%>
    </div>
    <div class = "col-md-9">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <% if params[:show_hidden] == "1" %>
            <h1> Hidden Products </h1>
          <% else %>
            <h1 class="d-md-none d-lg-block entry-title"> All Products </h1>
            <h3 class="d-none d-md-block d-lg-none"> All Products </h3>
          <% end %>
        </div>
        <div class="col-12 mb-1">
          <% if params[:show_hidden] == "1" %>
            <%= link_to 'Show Published Products', product_list_path %>
          <% else %>
            <%= link_to 'Show Hidden Products', product_list_path(show_hidden: 1) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class = "col-12 d-sm-block my-2">
          <%= search_form_for @search, url: product_list_path do |f| %>
            <div class="row">
              <div class="col-12 col-md-4 col-xl-5">
                <%= f.label :name_cont, 'Filter by Name' %>
                <%= f.search_field :name_cont,  class: 'form-control mb-2' %>
              </div>
              <div class="col-12 col-md-4 col-xl-5">
                <%= f.label :color_id_in, 'Filter by Category' %>
                <%= f.select :categories_id_in, Category.category.map {|c| [c.name, c.id]} , {include_blank: true}, class: 'form-control' %>
              </div>
              <div class="col-12 col-md-3 col-xl-2 pt-4 pr-md-5 pb-2"> 
                <button class="btn btn-success btn-large mx-auto col-12 mb-2 mt-2 float-right" type="submit" name="action">Search</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div  class= "center-align">
          <%= will_paginate @products , renderer: @custom_paginate_renderer %>
        </div>
      </div>
      
      <div class="row">
        <% if @products.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Main Image</th>
                  <th scope="col">Product Name</th>
                  <th>Price</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each_with_index do |p,i| %>
                  <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= image_tag p.main_photo.url(:thumb) %></td>
                    <td><%= p.name %></td>
                    <td><%= "EGP #{p.price}" %></td>
                    <td>
                      <%= link_to 'Edit product', edit_product_path(p.id) %>
                    </td>
                    <td>
                      <%= link_to 'Variants & Stocks', product_variants_path(p.id) %>
                    </td>
                    <td>
                      <%= link_to 'Images', product_images_path(p.id) %>
                    </td>
                    <td>
                      <% if p.published?%>
                        <%= link_to 'Hide', product_publish_path(product_id: p.id), class: 'red', method: :post,
                              data: { confirm: 'Are you sure you want to hide product? Stock of this product will be set to zero' } %>
                      <% else %>
                        <%= link_to 'Publish', product_publish_path(product_id: p.id), class: 'green', method: :post %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
