<div class="container my-5">
  <div class = "row">
    <div class= "col-sm-3">
      <%= render partial: 'shared/admin_sidebar' , locals: {current: 'products'}%>
    </div>
    <div class = "col-sm-9">
      <div class="row d-flex align-items-center">
        <div>
          <% if params[:category_id].blank? %>
            <h1> All Products </h1>
          <% else %>
            <h1> <%= "#{@category.name}'s Products" %> </h1>
          <% end %>
        </div>
        <div class = "offset-sm-6">
          <% if policy(Product).create? %>
            <%= link_to 'Add a Product', new_product_path, class: "push-m9" %>
          <% end %>
        </div>
      </div>
      <div class="row">
          <%= search_form_for @q, url: product_list_path do |f| %>
            <div class="form-row align-items-center">
              <div class= "col-auto">
                <%= f.search_field :name_cont,  class: 'form-control mb-2' %>
                <i class="material-icons search-icon">search</i>
              </div>
              <button class="btn btn-success btn-large mb-2" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          <% end %>
      </div>
      <div  class= "center-align">
        <%= will_paginate @products , renderer: @custom_paginate_renderer %>
      </div>
      
      <div class="row">
        <% if @products.any?%>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th scope="col">Product Name</th>
                  <th>Price</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @products.each_with_index do |p,i| %>
                  <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= image_tag p.main_photo.url(:thumb) %></td>
                    <td><%= p.name %></td>
                    <td><%= "EGP #{p.price}" %></td>
                    <td>
                      <%= link_to 'Edit product', edit_product_path(p.id) %>
                    </td>
                    <td>
                      <%= link_to 'Variants', product_variants_path(p.id) %>
                    </td>
                    <td>
                      <%= link_to 'Images', product_images_path(p.id) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
