<div id="wrapper">
  <!-- <<<<<<<<<<<<<<<<<<<< Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
  <section class="single_product_details_area section_padding_0_60 pt-5">
    <div class="container">
      <div class="row">

        <%= render 'added_to_cart_modal'%>
        <div id="error_modal_div">
        </div>

        <!-- Product Images -->
        <div class="col-12  col-md-6 mb-4">
          <div class="single_product_thumb">
            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
              <% if @colored_variant && @colored_variant.photos.any?%>
                <ol class="carousel-indicators">
                  <% @colored_variant.photos.first(4).each_with_index do |p,i|%>
                    <li class="<%= "#{'active' if i == 0}" %>" data-target="#product_details_slider" data-slide-to="<%="#{i}"%>" style="background-image: url(<%=p.image.url%>);">
                    </li>
                  <% end %>
                </ol>
                <div class="carousel-inner">
                  <% @colored_variant.photos.first(4).each_with_index do |p,i|%>
                    <div class="carousel-item <%= "#{'active' if i == 0}" %> ">
                      <a class="gallery_img">
                        <div class="tile">
                          <%= image_tag p.image.url, class:"photo d-block w-100", alt: "slide" %>
                        </div>
                      </a>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <ol class="carousel-indicators">
                  <li class="active" data-target="#product_details_slider" data-slide-to="1" style="background-image: url(<%=@product.main_photo.url%>);">
                    </li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <a class="gallery_img">
                      <div class="tile">
                        <%= image_tag @product.main_photo.url, class:"photo d-block w-100", alt: "slide" %>
                      </div>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div> 

        <!-- Product Details -->

        <div class="col-12 col-md-6 pl-3">
          <div class="single_product_desc">

            <h3 class="title"><%= @product.name&.humanize %></h3>

            <h5 style="color: #434343;" class="price mb-4">EGP <%= @product.price %></h5>

            <div class="form-group">
              <div class="container">
                <div class="row">
                  <label class="pt-1 mr-40" for="size_select">Size</label>
                  <% Size.all.each do |s|%>
                    <% if @available_sizes.include? s.id%>
                      <label id = "<%="label_#{s.id}"%>" class="checkbox_label pointer size mr-1" for="<%="size_#{s.id}"%>"> <%=s.name%> </label>
                      <input type="radio" style="display: none;" name="size_id" class="size_select" id="<%="size_#{s.id}"%>" value="<%= "#{s.id}" %>">
                    <% else %>
                      <label id = "<%="label_#{s.id}"%>" class="checkbox_label_disabled pointer size mr-1" for="<%="size_#{s.id}"%>"> <%=s.name%> </label>
                      <input disabled type="radio" style="display: none;" name="size_id" class="size_select" id="<%="size_#{s.id}"%>" value="<%= "#{s.id}" %>">
                    <% end %>
                  <% end %>
                </div>
                <p style= "display=inline-block;" class="error_msg red"></p>
              </div>
            </div>

            <form class="cart clearfix mb-30 d-flex" method="post">
              <div class="container">
                <div class="row">
                  <label class="pt-2 mr-10" for="sel2">Quantity</label>
                  <div class="quantity">
                    <span class="qty-plus" style="background: #f8f9fa;" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )&amp;&amp; qty &lt; 5) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span class="qty-minus" style="background: #f8f9fa;" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                    <input type="number" class="qty-text form-control" style="background: #f8f9fa;" id="qty" step="1" min="1" max="5" name="quantity" value="1">
                  </div>
                </div>
              </div>
            </form>

            <div class="pr_color">
              <label class="pt-2 mr-10" for="sel2">Available Colors</label>
              <ul class="color_list mt-2 pl-1">
                <% if @product.available_colors_with_images.any? %>
                  <% @product.available_colors_with_images.each do |c| %>
                    <% selected_color = params[:color_id] == c.id.to_s || params[:color_id] == c.id%>
                    <li> <%= link_to image_tag(@product.main_variant_image(c.id).url(:thumb), :class => "color_select #{'selected' if selected_color}"), product_path(@product.id, color_id: c.id) %> </li>
                  <% end %>
                <% else %>
                  <li> <%= image_tag(@product.main_photo.url(:thumb), class: "selected") %> </li>
                <% end %>
              </ul>
            </div>


            <div class="cart">
              <div class="d-flex">
                <button id= "add_to_cart" type="submit" name="addtocart" value="5" class="btn cart-submit d-block ml-0 mb-5 col-12 col-md-4">Add to cart</button>
              </div>
            </div>

            <div id="accordion" role="tablist">
              <% unless @product.description.blank?%>
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                    <h6 class="mb-0">
                      <a class="text-color-dark" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Product Description</a>
                    </h6>
                  </div>

                  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <p><%= @product.description %></p>
                    </div>
                  </div>
                </div>
              <% end %>
              <% unless @product.model_wearing.blank?%>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h6 class="mb-0">
                        <a class="collapsed text-color-dark" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Size & Fit</a>
                    </h6>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <p> <%= @product.model_wearing %> </p>
                    </div>
                  </div>
                </div>
              <% end %>
              <% unless @product.fabric_details.blank?%>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h6 class="mb-0">
                        <a class="collapsed text-color-dark" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Fabric & Care Details</a>
                    </h6>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <p> <%= @product.fabric_details %> </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>  
      </div>
    </div>
  </section>
  <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

  <!-- <<<<<<<<<<<<<<<<<<<< Related Products Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
  <% if @related_products.any? %>
    <div class="container mb-5">
      <div class="row">
        <div class="col-12 col-md-12 text-center">
            <h3>You may also like</h3>
        </div>
      </div>
    </div>

    <!-- Visible on Desktop Computers -->
    <div class="d-none d-sm-block mt-4 mb-2">
      <div class="container pb-4 pt-3">
        <div class="row">
          <% @related_products.each do |p|%>
            <div class="col-md-3">
              <div class="card border-0 card-wid">
                <div class="inner">
                  <%= link_to image_tag(p.medium_photo, class: "card-img-top", style: 'width:100%;'), product_path(p) %>
                </div>
                <div class="card-body">
                  <h5 class="card-title"> <%= link_to p.name, product_path(p) %> </h5>
                  <p class="card-text"><small class="text-muted"> <%=p.price%> EGP </small></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>    
      </div>
    </div>


    <!-- Visible on Mobile Phones -->
    <div class="d-block d-sm-none">
      <div class="container-fluid mt-2 pb-5">
        <div class="row">
        <% @related_products.each do |p|%>
          <div class="col-6">
            <div class="row px-1">
              <div class="card border-0">
                <div class="inner">
                  <%= link_to image_tag(p.medium_photo, class: "card-img-top", style: 'width:100%;'), product_path(p) %>
                </div>
                <div class="card-body">
                  <h5 class="card-title"> <%= link_to p.name, product_path(p) %> </h5>
                  <p class="card-text"><small class="text-muted"> <%=p.price%> EGP </small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- <<<<<<<<<<<<<<<<<<<< Related Products Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->
</div>


<script>
    $('.tile')
    // tile mouse actions
    .on('mouseover', function(){
      $(this).children('.photo').css({'transform': 'scale(1.8)'});
      $(this).children('.photo').css({'cursor': 'grabbing'});
      $(this).children('.photo').css({'cursor': '-webkit-grabbing'});
    })
    .on('mouseout', function(){
      $(this).children('.photo').css({'transform': 'scale(1)'});
    })
    .on('mousemove', function(e){
      $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
    })
    // tiles set up
    .each(function(){
      $(this)
        // add a photo container
        .append('<div class="photo"></div>')
        // set up a background image for each tile based on data-image attribute
        .children('.photo').css({'background-image': 'url('+ $(this).attr('data-image') +')'});
    })

    $('.checkbox_label').click(function(){
      $.each($(".checkbox_label"), function(){  
        $(this).removeClass("active");
      });
      $(this).addClass("active");
    });

    $('#add_to_cart').click(function(){
      size_id = $("input[name=size_id]:checked").val();
      quantity = $('#qty').val();
      product_id = "<%= @product.id %>";
      color_id = "<%= params[:color_id] %>";
      if (size_id == null){
        $('.error_msg').html('Please select a size first').show();
        setTimeout(function(){ 
          $('.error_msg').hide();
          }, 2500);
      } else {
        $.ajax({
          type: "POST",
          url: '/add_to_cart',
          data: {size_id: size_id, quantity: quantity, product_id: product_id, color_id: color_id},
          success: function(response, data, status, xhr) {
            debugger;
            if (response['saved'] == 1){
              $('#exampleModalCenter').modal('show');
            } else{
              $('#error_modal_div').html(response);
              $('#add_to_cart_error_modal').modal('show');
            }
          },
          error: function() {
            alert('error');
          }
        });
      }
    });
</script>