
<div class="container mt-2 mb-5">
  <%= render partial: 'shared/products_breadcrum', locals: {active_link: "#{@product.name} Images"}%>
  <div class="row d-flex align-items-center justify-content-between">
    <h1> <%= "#{@product.name} Images " %> </h1>
    <% if policy(Product).create? %>
      <%= link_to 'Add a New Image', new_product_image_path(@product.id), class: "push-m9" %>
    <% end %>
  </div>
  <% if @images.any?%>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th scope="col">Variants</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @images.each_with_index do |i,index| %>
            <tr>
              <td scope="row"><%= index + 1 %></td>
              <td><%= image_tag i.image.url(:thumb) %></td>
              <td><%= i.variant_colors %></td>
              <td class="text-right"> 
                <%= link_to 'Edit', edit_product_image_path(id: i.id) %> 
                <%= link_to 'Delete', product_image_path(id: i.id), method: :delete, 
                         data: { confirm: 'Are you sure?' }  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>