<div class="container">
  <div class="row mt-4 pl-4">
    <i class="fas fa-user fa-2x"></i>
    <h2 class="ml-2">Profile</h2>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= render 'sidebar', current: 'edit_password'%>
          </div>
          <div class="col-md-6">
            <%= form_for(resource, as: resource_name, url: update_user_password_path, html: { method: :put }) do |f| %>
              <div class="form-group">
                <%= f.label :current_password %><br />
                <%= f.password_field :current_password, autocomplete: "current-password" ,id: "current_password", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "new-password" ,id: "password", class: 'form-control' %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" ,id: "password_confirmation", class: 'form-control'%>
              </div>
              <!-- <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                  <button class="btn btn-dark disabled" id="submit-button" type="submit" name="action">
                    Save Changes
                  </button>
                </div>
              </div> -->
              <div class="container mt-3">
                  <div class="row justify-content-end">
                    <button class="col-12 col-md-6 col-lg-5 btn btn-dark disabled" id="submit-button" type="submit" name="action">
                      Change Password
                    </button>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <div class="pl-4 pt-3 edit-pass-font" id="message" style="display:none; height: 100%;">
              <p id="match" class="invalid">Passwords match</p>
              <p id="length" class="invalid">Minimum 6 characters</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var password = document.getElementById("password")
    , confirm_password = document.getElementById("password_confirmation")
    , length = document.getElementById("length")
    , match = document.getElementById("match")
    , message = document.getElementById("message")
    , sign_up_button = document.getElementById("sign-up-button");

  
  function validatePassword(){
    var flag1 = 0;
    var flag2 = 0;
    if (password.value.length == 0)
    {
      message.style.display = "none";
      flag1 = 0;
    }
    else
    {
      message.style.display = "block";
      if(password.value.length < 6) {
        length.classList.remove("valid");
        length.classList.add("invalid");
        flag1 = 0;
      } 
      else {
        length.classList.remove("invalid");
        length.classList.add("valid");
        flag1 = 1;
      }
    }
    if (confirm_password.value.length == 0)
    {
      message.style.display = "none";
      flag2 = 0;
    }
    else
    {
      message.style.display = "block";
      if(password.value != confirm_password.value) 
      {
        match.classList.remove("valid");
        match.classList.add("invalid");
        flag2 = 0;
      } 
      else 
      {
        match.classList.remove("invalid");
        match.classList.add("valid");
        flag2 = 1;
      }
    }
    if (flag1 == 1 && flag2 == 1)
    {
      $("#submit-button").removeClass("disabled");
    }
    else
    {
      $("#submit-button").addClass("disabled");
    }
  }

  password.onkeyup = validatePassword;
  confirm_password.onkeyup = validatePassword;

</script>