<div class="container">
  <div class="row mt-4 pl-4">
    <i class="fas fa-user fa-2x"></i>
    <h2 class="ml-2">Profile</h2>
  </div>
  <div class="card border-0">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-xl-3">
            <%= render 'sidebar', current: 'edit_password'%>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6">
            <%= form_for(resource, as: resource_name, url: update_user_password_path, html: { method: :put }) do |f| %>
              <div class="form-group">
                <%= f.label :current_password %><br />
                <%= f.password_field :current_password, autocomplete: "current-password" ,id: "current_password", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "new-password" ,id: "password", class: 'form-control' %>
              </div>
              <div class="pl-4" id="pass-message" style="font-size: 0.9rem; display: none;">
                <p id="length" class="invalid">Minimum 6 characters</p>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" ,id: "password_confirmation", class: 'form-control'%>
              </div>
              <div class="pl-4" id="confirm-pass-message" style="font-size: 0.9rem; display: none;">
                <p id="match" class="invalid">Passwords match</p>
              </div>
              <div class="container mt-3">
                  <div class="row justify-content-end">
                    <button class="col-12 col-md-6 col-lg-5 btn color-semi-black disabled" id="submit-button" type="submit" name="action">
                      Change Password
                    </button>
                  </div>
                </div>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



<script>
    var password = document.getElementById("password")
    , confirm_password = document.getElementById("password_confirmation")
    , length = document.getElementById("length")
    , match = document.getElementById("match")
    , pass_message = document.getElementById("pass-message")
    , confirm_pass_message = document.getElementById("confirm-pass-message")
    , sign_up_button = document.getElementById("sign-up-button");

  
  function validatePassword(){
    var flag1 = 0;
    var flag2 = 0;
    if (password.value.length == 0)
    {
      pass_message.style.display = "none";
      flag1 = 0;
    }
    else
    {
      pass_message.style.display = "block";
      if(password.value.length < 6) {
        length.classList.remove("valid");
        length.classList.add("invalid");
        flag1 = 0;
      } 
      else {
        length.classList.remove("invalid");
        length.classList.add("valid");
        flag1 = 1;
      }
    }
    if (confirm_password.value.length == 0)
    {
      confirm_pass_message.style.display = "none";
      flag2 = 0;
    }
    else
    {
      if (password.value.length > 0)
      {
        confirm_pass_message.style.display = "block";
        if(password.value != confirm_password.value) 
        {
          match.classList.remove("valid");
          match.classList.add("invalid");
          flag2 = 0;
        } 
        else 
        {
          match.classList.remove("invalid");
          match.classList.add("valid");
          flag2 = 1;
        }
      }
      else
      {
        confirm_pass_message.style.display = "none";
        flag2 = 0;
      }
    }
    if (flag1 == 1 && flag2 == 1)
    {
      $("#submit-button").removeClass("disabled");
    }
    else
    {
      $("#submit-button").addClass("disabled");
    }
  }

  password.onkeyup = validatePassword;
  confirm_password.onkeyup = validatePassword;

</script>