<div class = "container">
  <div class = "row">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class = "row">
    <div class= "col-sm-9">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, placeholder: "please enter your name", value: resource.name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :city %>
          <%= f.select :city, ['Alexandria','Cairo'] , {include_blank: true}, selected: @user.city, class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= f.label :birthday %>
          <%= f.date_field :birthday, class: 'form-control' %>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      <% end %>
    </div>
    <div class="col-sm-3">
      <%= render 'sidebar', current: 'edit'%>
    </div>
  </div>
</div>

  
<!-- <div class="container">
  <div class="row mt-4 pl-4">
    <i class="fas fa-user-edit fa-2x"></i>
    <h2 class="ml-1">Edit User</h2>
  </div>
  <div class="card">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, placeholder: "Name", value: resource.name, class: 'form-control' %>
              </div>
      
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autocomplete: "email",placeholder: "Email", class: 'form-control' %>
              </div>
      
              <div class="form-group">
                <%= f.label :city %>
                <%= f.select :city, ['Alexandria','Cairo'] , {include_blank: true}, selected: @user.city, class: 'form-control'%>
              </div>
      
              <div class="form-group">
                <%= f.label :birthday %>
                <%= f.date_field :birthday, class: 'form-control' %>
              </div>
            </div>
            <div class="col">
              <div class="single_product_desc">
                <div id="accordion" role="tablist">
                  <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                      <h6 class="mb-0">
                        <a class="text-color-dark" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Change Password</a>
                      </h6>
                    </div>
              
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <%= form_for(resource, as: resource_name, url: update_user_password_path, html: { method: :put }) do |f| %>
                          <%= devise_error_messages! %>
                          <div class="form-group">
                            <%= f.label :password %><i> (min 6 chars)</i>
                            <%= f.password_field :password, autocomplete: "new-password" ,id: "password", class: 'form-control' %>
                            <% if @minimum_password_length %>
                              <br />
                              <em><%= @minimum_password_length %> characters minimum</em>
                            <% end %>
                          </div>
                          <div class="form-group">
                            <%= f.label :password_confirmation %><i> (min 6 chars)</i>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" ,id: "password_confirmation", class: 'form-control'%>
                          </div>
                          <div class="form-group">
                            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                            <%= f.password_field :current_password, autocomplete: "current-password" ,id: "current_password", class: 'form-control' %>
                          </div>
                          <button class="btn waves-effect waves-light disabled" id="submit-button" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                          </button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" name="action" class="btn btn-primary mt-3">Save changes</button>
      <% end %>
    </div>
  </div>
</div>


<script>
    $(document).ready(function (){
        validate();
        $('#password, #password_confirmation, #current_password').keypress(validate);
    });
    
    function validate(){
        if ($('#password').val().length   >   0   &&
            $('#password_confirmation').val().length  >   0   &&
            $('#current_password').val().length    >   0) {
            $("#submit-button").removeClass("disabled");
        }
        else {
            $("#submit-button").addClass("disabled");
        }
    }
    </script> -->