<div class="sign-up-form">
  <div class = "container">
    <div class = "row">
      <div class= "col-sm-9 col-md-8 col-lg-6 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body shadow border-0">
            <div class="container">
              <div class="row justify-content-center">
                <i class="fas fa-user-plus fa-2x pr-2"></i>
                <h5 class="card-title text-center pt-1">Sign Up</h5>
              </div>
            </div>
            <div class="form-signin">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-label-group w-100">
                <%= f.text_field :name, required: true,  autocomplete: "name", placeholder: "Name", id: "name", class: "form-control" %>
                <label for="name" class="py-auto">Name</label>
              </div>
              <div class="form-label-group pl-1 w-100">
                <%= f.text_field :mobile, required: true, autocomplete: "mobile", id: "mobile", class: "form-control", placeholder: "Mobile Number", maxlength: "11" %>
                <label for="mobile" class="py-auto">Mobile number</label>
              </div>
              <div class="pl-4" id="validate-number" style="font-size: 0.8rem; display: none;">
                <p id="validate-num" class="invalid">Starts with '01'</p>
                <p id="validate-num2" class="invalid">Consists of 11 numbers</p>
              </div>
              <div class="form-label-group">
                <%= f.email_field :email, required: true, autocomplete: "email", id: "email", class: "form-control", placeholder: "Email address" %>
                <label for="email" class="py-auto">Email address</label>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <div class="row">
                      <div class="form-label-group w-100">
                        <%= f.password_field :password,required: true, id: "password", class: "form-control", placeholder: "Password" %>
                        <label for="password" class="py-auto">Password</label>
                      </div>
                      <div class="pl-4" id="pass-message" style="font-size: 0.8rem; display: none;">
                        <p id="length" class="invalid">Minimum 6 characters</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="row">
                      <div class="form-label-group pl-1 w-100">
                        <%= f.password_field :password_confirmation, required: true, placeholder: "confirm password", id: "password_confirmation", class: "form-control" %>
                        <label for="password_confirmation" class="py-auto">Confirm Password</label>
                      </div>
                      <div class="pl-4" id="confirm-pass-message" style="font-size: 0.8rem; display: none;">
                        <p id="match" class="invalid">Passwords match</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xl-6">
                    <div class="row">
                      <div class="form-label-group w-100">
                        <%= f.text_field :city, required: true, placeholder: "city", id: "user_city", class: "form-control" %>
                        <label for="user_city" class="py-auto">City</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6">
                    <div class="row">
                      <div class="form-label-group pl-1 w-100">
                        <%= f.date_field :birthday, max: Date.today, required: true, placeholder: "Date of Birth", id: "birthday", class: "form-control datepicker", style: "font-size:0.9rem" %>
                        <label for="birthday" class="py-auto">Date of Birth</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-lg color-semi-black btn-block text-uppercase mt-2 disabled" id="sign-up-button" type="submit">Sign Up</button>
              <% end %>
              <div class="container mt-4">
                <div class="row">
                  <%= link_to "Already have account? Sign in here!", new_user_session_path, class:"mx-auto text-dark" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    
  var password = document.getElementById("password")
    , confirm_password = document.getElementById("password_confirmation")
    ,validate_number = document.getElementById("validate-number")
    ,validate_num = document.getElementById("validate-num")
    ,validate_num2 = document.getElementById("validate-num2")
    , mobile = document.getElementById("mobile")
    , length = document.getElementById("length")
    , match = document.getElementById("match")
    , pass_message = document.getElementById("pass-message")
    , confirm_pass_message = document.getElementById("confirm-pass-message")
    , sign_up_button = document.getElementById("sign-up-button");

  
  function validatePassword(){
    var flag1 = 0;
    var flag2 = 0;
    var flag3 = 0;
    var flag4 = 0;
    if (password.value.length == 0)
    {
      pass_message.style.display = "none";
      flag1 = 0;
    }
    else
    {
      pass_message.style.display = "block";
      if(password.value.length < 6) {
        length.classList.remove("valid");
        length.classList.add("invalid");
        flag1 = 0;
      } 
      else {
        length.classList.remove("invalid");
        length.classList.add("valid");
        flag1 = 1;
      }
    }
    if (confirm_password.value.length == 0)
    {
      confirm_pass_message.style.display = "none";
      flag2 = 0;
    }
    else
    {
      if (password.value.length > 0)
      {
        confirm_pass_message.style.display = "block";
        if(password.value != confirm_password.value) 
        {
          match.classList.remove("valid");
          match.classList.add("invalid");
          flag2 = 0;
        } 
        else 
        {
          match.classList.remove("invalid");
          match.classList.add("valid");
          flag2 = 1;
        }
      }
      else
      {
        confirm_pass_message.style.display = "none";
        flag2 = 0;
      }
    }
    if (mobile.value.length > 0)
    {
      validate_number.style.display = "block";
      if ( mobile.value.match(/^[0-9]+$/) == null ){
        flag3 = 0;
      }
      else
      {
        if ( mobile.value.length != 11 )
        {
          flag3 = 0;
          validate_num2.classList.remove("valid");
          validate_num2.classList.add("invalid");
        }
        else
        {
          flag3 = 1;
          validate_num2.classList.remove("invalid");
          validate_num2.classList.add("valid");
        }
      }
      if (mobile.value.substring(0,2) == "01")
      {
        flag4 = 1;
        validate_num.classList.remove("invalid");
        validate_num.classList.add("valid");
      }
      else
      {
        flag4 = 0;
        validate_num.classList.remove("valid");
        validate_num.classList.add("invalid");
      }
    }
    else
    {
      validate_number.style.display = "none";
      flag3 = 0;
    }
    if (flag1 == 1 && flag2 == 1 && flag3 == 1 && flag4 == 1)
    {
      $("#sign-up-button").removeClass("disabled");
    }
    else
    {
      $("#sign-up-button").addClass("disabled");
    }
  }

  password.onkeyup = validatePassword;
  confirm_password.onkeyup = validatePassword;
  mobile.onkeyup = validatePassword;

  function isANumber(str){
    return !/\D/.test(str);
  }

  var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
  };
  /*
  if ( !isMobile.any() ) {
    $('.mob-only').addClass('w-50')
  }
  else {
    $('.mob-only').addClass('w-100')
  }*/

</script>